.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 100%;
	height: 100%;
	min-height: 310px;
	border: none;
	border-radius: var(--border-radius);
	background-color: var(--main-color);
	color: var(--main-text-color);
	cursor: pointer;
	.img {
		height: auto;
		width: 100%;
		object-fit: cover;
		border-radius: var(--border-radius) var(--border-radius) 0px 0px;
	}
	&:hover {
		transform: scale(var(--scale));
		box-shadow: var(--box-shadow);
	}
}

.title {
	font-weight: var(--font-weight-bold);
	margin-bottom: 5px;
}

.subTitle {
	font-weight: var(--font-weight-thin);
}

.info {
	display: flex;
	flex-direction: column;
	padding: 15px;
	text-overflow: ellipsis;
}
