.search {
	border: none;
	border-radius: var(--border-radius);
	width: 100%;
	padding: var(--padding-md);
	margin-right: 0px;
	font-size: var(--font-size-sm);
	background-color: white;
	color: black;
}

.icon {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 26px;
	opacity: 0.7;
}
