.search {
	border: none;
	border-radius: var(--border-radius);
	width: 100%;
	padding: var(--padding-md);
	margin-right: 20px;
	font-size: var(--font-size-sm);
	background-color: white;
	color: black;
}
